amqp==2.5.1
anyjson==0.3.3
Babel==2.7.0
billiard==3.6.1.0
Django==2.1.4
gevent==1.4.0
django-celery-beat==1.5.0
django-celery-results==1.1.2
django-redis==4.10.0
django-timezone-field==3.1
flower==0.9.3
importlib-metadata==0.23
kombu==4.6.4
more-itertools==7.2.0
mysql-replication==0.19
mysqlclient==1.3.13
pika==1.1.0
pycrypto==2.6.1
PyMySQL==0.9.3
python-crontab==2.4.0
python-dateutil==2.8.0
python-http-client==3.2.1
pytz==2019.3
raven==6.10.0
redis==3.3.11
sendgrid==6.1.0
six==1.12.0
sqlparse==0.3.0
vine==1.3.0
zipp==0.6.0
xlwt
requests
regex
pymongo==3.9.0
sqlalchemy==1.2.14
redis==3.3.11
pika==1.1.0
mysql-replication==0.19
sentry-sdk==0.10.2
pymongo==3.9.0
pika==1.1.0
gremlinpython==3.4.4
SQLAlchemy-Utils==0.33.8
celery==4.3.0
numpy
pandas
tushare